body {
    font-family: courier;
    font-size: 12px;
    color: black;
}

a:hover {
    color: black;
}

ul {
    color: darkgrey;
}

#css-zen-garden {
    font-size: 12px;
}

.intro {
    font-weight: bold;
}

.summary {
    font-family: courier;
    font-size: 10px;
}

.preamble {
    font-size: 11px;
}

.main, .supporting, .explanation {
    font-size: 14px;
}

/*
.participation {
    color: purple;
}
*/

.benefits {
    font-weight: bold;
    font-style: italic;
    font-family: courier;
}

.requirements {
    font-size: 10px;
    font-style: italic;
}

.design-name {
    font-style: italic;
    font-family: courier;
}

.designer-name {
    font-family: courier;
}

/*
.archives, .resources, .select {
    font-family: times;
    font-size: 16px;
}
*/

.wrapper {
    font-size: 16px;
}

.design-archives {
    font-size: 14px;
}

/*
.zen-resources {
    font-family: times;
}
*/

.design-selection, .select, .design-archives, .archives, .resources, .select {
    font-family: courier;
}

/*
.page-wrapper, .sidebar, .zen-accessibility, .css-resources, .view-css {
    font-family: sans-serif;
}
*/
